layout {

    focus-ring {
        active-color   "#51d7ee"
        inactive-color "#111415"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#51d7ee"
        inactive-color "#111415"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#51d7ee"
        inactive-color "#004e59"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#51d7ee80"
    }
}

recent-windows {
    highlight {
        active-color "#51d7ee"
        urgent-color "#ffb4ab"
    }
}
