layout {

    focus-ring {
        active-color   "#bdd062"
        inactive-color "#13140f"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#bdd062"
        inactive-color "#13140f"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#bdd062"
        inactive-color "#414c00"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#bdd06280"
    }
}

recent-windows {
    highlight {
        active-color "#bdd062"
        urgent-color "#ffb4ab"
    }
}
